rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Global Helpers
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email == 'enestchikuruwoo@gmail.com';
    }

    // Leads
    match /leads/{leadId} {
      allow create: if true;
      allow read, write: if isAdmin();
    }

    // Projects
    match /projects/{projectId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Testimonials
    match /testimonials/{testimonialId} {
      allow read: if true; // In app we will filter for approved ones normally, but rules permit reading all for now (simple)
      allow create: if true;
      allow update, delete: if isAdmin();
    }

    // Connectivity Test
    match /test/connection {
      allow read: if true;
    }
  }
}
